<ion-content [fullscreen]="true" class="body">

  <div> 
    <ion-header class="ion-no-border ion-text-center">
      <div class="box_header">
        <h1>Yoru</h1>
      </div>
    </ion-header>
    <ion-img src="https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/1164299/233846_839121.png"></ion-img>
  </div>
  
    <ion-list >
      <ion-item>
        <ion-button (click)="irJugadores()" class="btn"color="success"    >
          Jugador
        </ion-button>

        <ion-button (click)="irArbitro()" class="btn2" color="success"  >
          Arbitro
        </ion-button>

      </ion-item>  
    </ion-list>

</ion-content>
