<ion-content [fullscreen]="true" class="body">

  <div> 
    <ion-header class="ion-no-border ion-text-center">
      <div class="box_header" style="color: aliceblue;">
        <h1>Yoru</h1>
      </div>
    </ion-header>
    <ion-img src="assets/icon/futgool.webp"></ion-img>
  </div>
  
    <ion-list >
      <ion-item>
        <ion-button (click)="irJugadores()" class="btn"color="success"    >
          Jugador
        </ion-button>

        <ion-button (click)="irArbitro()" class="btn2" color="success"  >
          Arbitro
        </ion-button>

      </ion-item>  
    </ion-list>

</ion-content>
