<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-arbitro">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="estadistica-arbitro">
      <ion-icon name="football"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="agenda-arbitro">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="configuracion-arbitro">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
