<app-heder title="Agendar"></app-heder>



<div class="agendar-content">
  <ion-content>
    <form (ngSubmit)="agendarPartido()" class="agendar-form">
      <ion-item class="form-item">
        <ion-label position="stacked">Fecha</ion-label>
        <ion-input type="date" [(ngModel)]="partido.fecha" name="fecha"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Hora</ion-label>
        <ion-input type="time" [(ngModel)]="partido.hora" name="hora"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="stacked">Ubicación</ion-label>
        <ion-input type="text" [(ngModel)]="partido.ubicacion" name="ubicacion"></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" class="submit-button">Agendar Partido</ion-button>
    </form>

    <div class="partidos-list">
      <ion-list  style="background-color: #1a1a1a;">
        <ion-item *ngFor="let partido of partidos" class="aaa">
          <ion-card class="partido-card">
            <ion-card-header>
              <ion-card-title>Partido: {{ partido.fecha }} - {{ partido.hora }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Ubicación:</strong> {{ partido.ubicacion }}</p>
              <p><strong>Jugadores:</strong> {{ partido.jugadores.length }}/11</p>
            </ion-card-content>

            <ion-button 
              [disabled]="partido.jugadores.length >= 11" 
              (click)="unirseAPartido(partido)" 
              class="unirse-button">
              Unirse
            </ion-button>

            <ion-button 
              color="danger" 
              *ngIf="partido.jugadores[0] === userId" 
              (click)="eliminarPartido(partido)" 
              class="eliminar-button">
              Eliminar
            </ion-button>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</div> 