ion-content {
  --background: #1a1a1a;

  .location {
    font-size: 1em;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
  }

  .main-info {
    text-align: center;
    margin-top: 4em;

    img {
      height: 6em;
    }

    h5 {
      margin-top: 1em;
      color: azure;
      font-size: 1em;
      font-weight: bold;
    }

    h2 {
      font-size: 5em;
      color: #f1f1f1;
    }
  }

  .other-info {
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 2em;

    ion-card {
      display: inline-block;
      min-width: 150px;
      margin-right: 15px;

      .info {
        text-align: center;

        h5 {
          font-weight: bold;
          color: #9caba9;
          margin-bottom: 3px;
        }

        h3 {
          font-size: 1.3em;
          font-weight: bold;
          color: #434343;
        }
      }
    }
  }

  .hourly-forecast {
    margin-top: 2em;
    color: #f1f1f1;

    h4 {
      text-align: center;
      font-size: 1.2em;
      font-weight: bold;
      color: #9caba9;
    }

    .forecast-list {
      display: flex;
      justify-content: space-around;
      overflow-x: auto;
      padding: 1em 0;
    }

    .forecast-item {
      text-align: center;
      width: 60px;
      color: #f1f1f1;

      p {
        margin: 0;
        font-size: 0.9em;
      }

      img {
        height: 3em;
        margin: 0.5em 0;
      }
    }
  }
}
.hourly-forecast {
  text-align: center;
  margin-top: 1em;

  h4 {
    font-weight: bold;
    color: #9caba9;
    margin-bottom: 0.5em;
  }

  .forecast-list {
    display: flex;
    justify-content: center;
    gap: 2em; // Aumenta el espacio entre cada elemento de pronóstico
    overflow-x: auto;
  }

  .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%; // Espacio adicional en los lados de cada item para que no se vean tan juntos

    p {
      color: #fff;
      font-size: 0.9em;
      margin: 0.3em 0;
    }
    img {
      width: 50px; 
      height: 50px;
    }
  }
}

